
h1 {
     font-size: 50px;
     color: blanchedalmond;
     font-weight: 600;
     font-family: Arial, Helvetica, sans-serif;
}
img {
height: 600px;
width: 500px;
border:solid black 20px;
border-radius: 10%

}
.s:hover {
    height: 700px;
    width: 600px;
}
a:hover {
    color: chartreuse;
}
.h {
    color: brown;
}
ul {
    color: blue;
}

.n {
    color: darkgreen;
}
.r {
    height: 200px;
    width: 200px;
}
.d {
    height: 200px;
    width: 200px;
}
.e {
    height: 200px;
    width: 200px;
}
header {
    display:grid;
    background-color: thistle;
    justify-content:center;
}
.header_logo {
    display:grid;
    background-color: rgb(210, 16, 181);
    height: 350px;
    width: 500px;
    text-align: center;
}
.header_logo1 {
    display:grid;
    background-color: rgb(160, 17, 17);
    height: 400px;
    width: 500px;
    text-align: center;
}
.header_logo2 {
    display:grid;
    background-color: rgb(21, 196, 2);
    height: 400px;
    width: 500px;
    text-align: center;
}